<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:fragment="header-head">
    <meta charset="UTF-8">
    <title th:text="#{app.title}">title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Fira Mono', monospace;
        }
    </style>
</head>
<body>
<header th:fragment="header-body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}" th:text="#{app.name}">name</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/signup}" th:text="#{signup.title}">sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/signin}" th:text="#{signin.title}">sign In</a>
                        </li>
                </ul>
                <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/links}" th:text="#{user.my_links}">my links</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/changepassword}"
                           th:text="#{user.change_password}">change password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}" th:text="#{logout.title}">log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>