<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header-head}">
    <title></title>
</head>
<body class="d-flex flex-column justify-content-center min-vh-100">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4" th:text="#{error.error}">error</h1>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th th:text="#{error.timestamp}">timestamp</th>
                    <td th:text="${timestamp}"></td>
                </tr>
                <tr>
                    <th th:text="#{error.path}">path</th>
                    <td th:text="${path}"></td>
                </tr>
                <tr>
                    <th th:text="#{error.error}">error</th>
                    <td th:text="${error}"></td>
                </tr>
                <tr>
                    <th th:text="#{error.status}">status</th>
                    <td th:text="${status}"></td>
                </tr>
                <tr>
                    <th th:text="#{error.message}">message</th>
                    <td th:text="${message}"></td>
                </tr>
                <tr>
                    <th th:text="#{error.exception}">exception</th>
                    <td th:text="${exception}"></td>
                </tr>
                <tr>
                    <th th:text="#{error.trace}">trace</th>
                    <td th:text="${trace}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
