<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header-head}">
    <title></title>
</head>
<body class="d-flex flex-column justify-content-center min-vh-100">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form th:object="${alias}" th:method="post">
                <h1 class="text-center mb-4" th:text="#{app.name}"></h1>
                <div class="input-group mb-3 justify-content-center">
                    <label for="url" hidden="hidden"></label>
                    <input type="text" class="form-control form-control-lg" id="url" name="url" style="max-width: 400px;"
                           th:field="*{originalUrl}" th:placeholder="#{shortener.enter_url}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit"
                                th:text="#{shortener.shorten}">shorten</button>
                    </div>
                </div>
                <div class="text-danger text-center m-1" th:if="${#fields.hasErrors('originalUrl')}">
                    <h6>Invalid URL!</h6>
                </div>
            </form>
            <div class="text-success text-center m-1" th:if="${param.deleted != null}">
                <h6 th:text="#{error.deleted}"></h6>
            </div>
        </div>
    </div>
</div>

</body>
</html>
