<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header-head}">
    <title></title>
</head>
<body class="d-flex flex-column justify-content-center min-vh-100">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="text-center mb-4" th:text="#{app.name}"></h1>
            <table class="table table-stripped inline-table">
                <tbody>
                <tr>
                    <th class="text-nowrap align-center" th:text="#{management.shortened_url}"></th>
                    <td><a th:text="${'http://localhost:8080/' + alias.redirectId}"
                           th:href="${'http://localhost:8080/' + alias.redirectId}"></a></td>
                    <td><i class="far fa-copy" style="cursor: pointer;"
                           th:attr="onclick=|copyText('http://localhost:8080/${alias.redirectId}')|"></i></td>
                </tr>
                <tr>
                    <th class="text-nowrap" th:text="#{management.management_url}"></th>
                    <td><a th:text="${'http://localhost:8080/' + alias.managementId}"
                           th:href="${'http://localhost:8080/' + alias.managementId}"></a></td>
                    <td><i class="far fa-copy" style="cursor: pointer;"
                           th:attr="onclick=|copyText('http://localhost:8080/${alias.managementId}')|"></i></td>
                </tr>
                <tr>
                    <th class="text-nowrap" th:text="#{management.deletion_url}"></th>
                    <td><a th:text="${'http://localhost:8080/' + alias.managementId + '/delete'}"
                           th:href="${'http://localhost:8080/' + alias.managementId + '/delete'}"></a></td>
                    <td><i class="far fa-copy" style="cursor: pointer;"
                           th:attr="onclick=|copyText('localhost:8080/${alias.managementId}/delete')|"></i></td>
                </tr>
                <tr>
                    <th class="text-nowrap" th:text="#{management.original_url}"></th>
                    <td><a th:text="${alias.originalUrl}" th:href="${alias.originalUrl}"></a></td>
                    <td><i class="far fa-copy" style="cursor: pointer;"
                           th:attr="onclick=|copyText('${alias.originalUrl}')|"></i></td>
                </tr>
                </tbody>
            </table>
            <div class="text-center m-1">
                <a th:href="@{/}"><h6>Create another one!</h6></a>
            </div>
        </div>
    </div>
</div>

<script>
    function copyText(text) {
        navigator.clipboard.writeText(text);
    }
</script>
</body>
</html>
